<div class="text-wrapper">
    <p class="title-text">Welcome to ChangeToSpare!</p>
    <p class="main-text grabber">Looking for a way to finish that card?</p>
    <p class="main-text">Here is our description</p>
</div>
<div class="button-wrapper">
  <div class="link-button">
    <p class="button-text">
      <%= link_to "Donate", new_donation_path, class: "link-text" %>
    </p>
  </div>
</div>
