<div class="text-wrapper">
    <p class="main-text grabber">
      <span class="grabber-1">LOOKING FOR A WAY TO </span><br>
      <span class="grabber-2">FINISH THAT CARD?</span>
    </p>
    <p class="main-text about-text">
      Online, many charities set a minimum value on donations.<br>
      ChangeToSpare allows you the opportunity to give smaller amounts,<br>
      making it perfect for those who are trying to finish off prepaid debit/gift cards,<br>
      or anyone who wants to give in a less restricted fashion.<br>
      ChangeToSpare collects these donations and, once they've reached a critical mass,<br>
      passes 100% of them along to the charity you specify!
    </p>
</div>
<div class="button-wrapper">
  <%= link_to(new_donation_path, class: "link-text") do %>
      <div class="link-button donate-button">DONATE</div>
  <% end %>
</div>
