<p class="title-text">Share</p>
<div class="divider"></div>
<p class="main-text share-text">Let your friends know about ChangeToSpare!</p>
<div class="center">
  <div class="addthis_sharing_toolbox"></div>
</div>

<p class="main-text share-text">And tell us what's on your mind!</p>

<div class="disqus-wrapper">
    <div id="disqus_thread"></div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'changetospare';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>