// Place all the styles related to the Charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charity-title {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.charity-label {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.charity-name {
  font-size: 40px;
}

.charity-list-wrapper .main-text {
  margin-top: 0px;
}

.charity-list-wrapper .box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 50%;
}