// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grabber {
  text-align: center;
}

.grabber-1 {
  font-size: 40px;
}
.grabber-2 {
  font-size: 70px;
}

.about-text {
  text-align: center;
}

.donate-button {
  margin-left: auto;
  margin-right: auto;
}